<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ReleaseHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <ReleaseHelper.Properties.Settings>
            <setting name="projectsInfo" serializeAs="String">
                <value>1. 시스템이름             : MFG
2. 로컬프로젝트경로    : C:\Users\78068\workspace\ezmweb
3. 개발망프로젝트경로 : \\10.77.14.98\jeus_lgcns.mfg
4. 운영프로젝트경로    : \\165.244.227.178\jeus_mfg

1. 시스템이름             : MFG-P
2. 로컬프로젝트경로    : C:\Users\78068\workspace\lgmweb
3. 개발망프로젝트경로 : \\10.77.14.98\jeus_lgcns.mfg.partner
4. 운영프로젝트경로    : \\165.244.227.178\jeus_mfgpartner

1. 시스템이름             : PLM
2. 로컬프로젝트경로    :C:\Users\78068\workspace\PLM_dev
3. 개발망프로젝트경로 : ftp://10.62.2.36, wasadm, !dev2011!, dynamoad/bea81/user_projects/domains/pdmdomain/applications
4. 운영프로젝트경로    :

1. 시스템이름            : TIMS
2.로컬프로젝트경로    : C:\lte\eclipse\workspace\CaMaS
3.개발망프로젝트경로 : 
4.운영프로젝트경로    :

1. 시스템이름            : SQL
2.로컬프로젝트경로    : C:\Users\78068\workspace\ezmweb\Project Doc\90.Shared Doc\02.U-MFG\황철\10.쿼리
3.개발망프로젝트경로 : 
4.운영프로젝트경로    :

검색파일종류:*,xrw,jsp,js,xml,java,sql

반영폴더경로:D:황철업무폴더\반영폴더

폴더경로조정
devonhome:WEB-INF\devonhome
web:</value>
            </setting>
            <setting name="selectedSystem" serializeAs="String">
                <value/>
            </setting>
            <setting name="selectedFileType" serializeAs="String">
                <value/>
            </setting>
        </ReleaseHelper.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
